.LibraryPage {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(var(--background));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LibraryPage--container {
  margin: 0 auto;
  width: auto;
  min-width: 30rem;
  max-width: 60rem;
}
