button {
  font: inherit;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.Button {
  --button-bg: var(--foreground);
  --button-color: var(--background);
  --button-border: var(--foreground);
  --button-bg-hover: transparent;
  --button-color-hover: var(--foreground);
  --button-border-hover: var(--button-border);

  height: 2.5rem;
  color: var(--button-color);
  background-color: var(--button-bg);
  border: 1px solid var(--button-border);
  padding: 0 2rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 5px;
  transition: all .3s ease 0s;
}

.Button--small {
  height: 1.375rem;
  padding: 0 .675rem;
}

.Button--medium {
  min-width: 200px;
}

.Button--large {
  min-width: 200px;
  height: 3.125rem;
  font-size: 1rem;
}

.Button:hover, .Button:focus {
  background-color: var(--button-bg-hover);
  color: var(--button-color-hover);
  border: 1px solid var(--button-border-hover);
}

.Button--secondary {
  --button-bg: transparent;
  --button-color: var(--accents-5);
  --button-border: var(--accents-2);
  --button-bg-hover: transparent;
  --button-color-hover: var(--foreground);
  --button-border-hover: var(--foreground);
}

.Button--success {
  --button-bg: var(--success);
  --button-color: #fff;
  --button-border: var(--success);
  --button-bg-hover: transparent;
  --button-color-hover: var(--success);
  --button-border-hover: var(--success);
}

.Button--warning {
  --button-bg: var(--warning);
  --button-color: #fff;
  --button-border: var(--warning);
  --button-bg-hover: transparent;
  --button-color-hover: var(--warning);
  --button-border-hover: var(--warning);
}

.Button--error {
  --button-bg: var(--error);
  --button-color: #fff;
  --button-border: var(--error);
  --button-bg-hover: transparent;
  --button-color-hover: var(--error);
  --button-border-hover: var(--error);
}

.Button--ghost {
  --button-bg: transparent;
  --button-color: var(--accents-5);
  --button-border: transparent;
  --button-bg-hover: transparent;
  --button-color-hover: var(--foreground);
  --button-border-hover: transparent;
}


.Button:active {
  transition: none;
  background-color: var(--accents-1);
}

.Button--disabled {
  cursor: not-allowed;
  filter: grayscale(1);
  --button-bg: var(--accents-1);
  --button-color: var(--accents-4);
  --button-border: var(--accents-2);
  --button-bg-hover: var(--accents-1);
  --button-color-hover: var(--accents-4);
  --button-border-hover: var(--accents-2);
}

.Button--disabled:active {
  background-color: var(--button-bg);
}
