.header_nav{
    @include absolute(auto, 0, 0, $lateral_nav_size);
    height: $nav_size;
    background: $cinnabar;

    .icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $nav_size;
        color: white;
        font-size: 15px;
        .left {
            margin-left: 10px;
        }
        .right {
            margin-right: 10px;
        }
        .active {
            color: silver;
        }
    }

    svg {
        margin: 10px;
        margin-right: 0px;
    }

    svg:hover {
        cursor: pointer;
        color: silver;
    }
}
