$nav_size: 50px;

@mixin absolute($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

.layout {
    .header_nav{
        @include absolute(0, 0, auto, 0);
        width: 100%;
        height: $nav_size;
        background: gray;
    }
    .lateral_nav {
        @include absolute($nav_size, auto, 0, 0);
        width: $nav_size;
        background: yellow;
    }
    .container {
        @include absolute($nav_size, 0, 0, $nav_size);
        background: red;
    }
}