.layout {
    .container {
        @include absolute($nav_size, 0, 0, 0);
        overflow: auto;
        background: rgb(30, 30, 30);
        &.lateral_nav {
            left: $nav_size;
            width: auto;
        }
    }
}