
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('./fonts/inter/inter-v1-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('./fonts/inter/inter-v1-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('./fonts/inter/inter-v1-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('./fonts/inter/inter-v1-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
}
/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('./fonts/inter/inter-v1-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
}
