$nav_size: 50px;
$lateral_nav_size: 125px;

@mixin absolute($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@import './components/header_nav/header_nav';
@import './components/lateral_panel/lateral_panel';
@import './components/layout/layout';
@import './components/reader/reader';
