.FloatBar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 2rem;
  opacity: 0;
  transition: opacity 200ms;
}

.FloatBar:hover {
  opacity: 1;
}

.FloatBar__row {
  display: flex;
}

.BottomBar {
  bottom: 0;
  left: 0;
  right: 0;
}

.BottomBar__container {
  background: rgba(var(--background));
  border-radius: 2rem;
  overflow: hidden;
}

.RightBar {
  right: 0;
  bottom: 0;
  top: 0;
}

.RightBar__container > *:not(:last-child) {
  margin-bottom: 1rem;
}
