$nav_size: 25px;
$lateral_nav_size: 125px;
$cinnabar: #DD403A;

@mixin absolute($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
