.header_nav{
    @include absolute(0, 0, auto, 0);
    width: 100%;
    height: $nav_size;
    background: rgb(37, 37, 38);

    .iconsLeft {
        height: 50px;
        margin-left: 10px; 
        color: white;
        font-size: 30px;
    }

    svg {
        margin: 10px;
        margin-right: 0px;
    }

    svg:hover {
        cursor: pointer;
        color: silver;
    }
}