.header_nav{
    @include absolute(0, 0, auto, 0);
    width: 100%;
    height: $nav_size;
    background: rgb(37, 37, 38);

    .icons {
        height: 50px;
        color: white;
        font-size: 30px;
        .left {
            float: left;
            margin-left: 10px; 
        }
        .right {
            float: right;
            margin-right: 10px;
        }
    }

    svg {
        margin: 10px;
        margin-right: 0px;
    }

    svg:hover {
        cursor: pointer;
        color: silver;
    }
}