.Reader {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Reader__double-page {
  display: flex;
}

.Reader__double-page .Reader__left {
  height: 100%;
  margin-right: 0;
}

.Reader__double-page .Reader__right {
  height: 100%;
  margin-left: 0;
}

.Reader__img {
  display: block;
  margin: 0 auto;
}
